---
layout: layout.njk
---
<!-- works with copy/paste HTML direct from Font Awesome docs -->
<i class="fa-solid fa-user"></i>
<i class="fa-solid fa-book"></i>
<!-- bluesky icon is only added to sprite sheet once -->
<i class="fa-brands fa-bluesky some-other-class" data-yo></i>
<i class="fa-brands fa-bluesky"></i>
<i class="fa-brands fa-bluesky"></i>
<i class="fa-brands fa-bluesky"></i>
<i class="fa-brands fa-bluesky"></i>